<ion-content [fullscreen]="true">
  <form [formGroup]="projectForm" (ngSubmit)="createProject()">
    <ion-list>
      <ion-item>
        <ion-input
          ngDefaultControl
          label="Project Name"
          formControlName="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          ngDefaultControl
          label="Project Description"
          formControlName="description"
        ></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block">Create</ion-button>
    </ion-list>
  </form>
</ion-content>
